{% extends 'base.html.twig' %}

{% block title %}Login happy pets{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/login/login.sass') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

<style>
    .img-col-login{
    width: 100%;
    height: 100%;
    }

    .remember_password{
        text-decoration: underline black;
    }

    .tittle-login-first{
        margin-top: 70px
    }

    .tittle-login-second{
        margin-top: 60px
    }

    .btn-login{
        width: 100%
    }

    .div-remember-password{
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 30px 0px 30px 0px;
    }

    .form-login{
        margin: 0px 80px 0px 80px;
    }
</style>

<div class="row">
    <div class="col-6">
        <img src="{{ asset('img/login_col.jpg') }}" class="img-col-login">
    </div>

    <div class="col-6">

        <form method="post" class="form-login">

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h1 text-center tittle-login-first">Happy pet</h1>
            <h3 class="h3 text-center tittle-login-second">Login</h1>


            <label for="inputEmail">Correo electronico</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword">Contraseña</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Recordarme
                </label>
            </div>

            <div class="div-remember-password text-center">
                <span class="remember_password">Olvide mi Contraseña</span>
            </div>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-lg btn-secondary btn-login" type="submit">
                Ingresar
            </button>
            
        </form>

    </div>
</div>

{% endblock %}
